<h1>My Collections</h1>
<h2>Your Collection</h2>
<% @collections.each do |collection| %>
  <% collection.cards.each do |card| %>
    <div>
      <img src="<%= card.image_url %>" alt="<%= card.name %>">
      <p><%= card.name %></p>
    </div>
  <% end %>
<% end %>
