.navbar-lewagon {
  justify-content: space-between;
  background: rgb(33, 99, 200);
  margin-bottom: 24px;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 60px;
}

.nav-item-a a {
  color: white;
}
.navbar-container {
  position: sticky;
  top: 0;
  width: 100%;
  z-index: 5;
}
